* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: Arial;
  padding: 10px;
  background: #192231;
  text-align: center;
}

/* Header/Blog Title */

.header {
  padding: 30px;
  text-align: center;
  background: #494E6B;
  color: white;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */

.navBar {
  overflow: auto;
  text-align: center;
  background-color: #975F6B;
}

/* Style the topnav links */

.navBar a {
  display: inline-grid;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */

.navBar a:hover {
  background-color: #ddd;
  color: black;
}

/* dsadsadsad */

.fullcolumn {
  display: inline-block;
  width: 100%;
  color: white;
}

.halfcolumn {
  display: inline-block;
  width: 51%;
  color: white;
}

.leftcolumn {
  float: left;
  width: 50%;
}

.rightcolumn {
  float: right;
  width: 50%;
}

/* Fake image */

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */

.card {
  background-color: #975F6B;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  display: inline-block;
  color: white;
  border: solid 1px black;
  overflow: auto;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
  text-align: center;
}

/* Footer */

.footer {
  padding: 1px;
  text-align: center;
  background: #975F6B;
  margin-top: 15px;
  color: white;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
